In [83]:
import tensorflow as tf
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [84]:
dataset = pd.read_csv('./db/db.csv')

In [85]:
dataset

,ID_Transacao,Data_Hora_Transacao,Valor_Reembolso,Quantidade_Combustivel,Preco_Combustivel,ID_Veiculo,Consumo_Medio_Veiculo,Distancia_Percorrida,ID_Condutor,Num_Reembolsos_Recentes,Probabilidade_Fraude
0,1,2024-01-01 04:23:15,"108,51","18,8","5,78",134,"11,5","215,9",1072,2,0
1,2,2024-01-01 02:04:09,"275,63","37,6","7,34",191,"9,6","360,5",1021,4,0
2,3,2024-01-02 00:59:59,"135,47",19,"7,13",171,"11,8","224,2",1048,0,0
3,4,2024-01-01 20:44:14,"170,27","22,9","7,45",131,9,"205,7",1049,4,0
4,5,2024-01-01 09:03:43,"198,54","30,2","6,57",167,"14,1","426,1",1079,2,0
...,...,...,...,...,...,...,...,...,...,...,...
3995,3996,2024-10-31 22:05:18,"140,67","20,8","6,76",139,"13,6",283,1087,1,0
3996,3997,2024-10-31 23:18:17,"294,27","41,7","7,05",105,"10,8","450,8",1026,1,0
3997,3998,2024-11-01 20:19:08,"193,25","34,6","5,59",175,"9,1","314,6",1064,3,0
3998,3999,2024-11-01 22:03:18,"219,88","33,1","6,65",111,14,"462,9",1083,3,0
3999,4000,2024-11-01 12:05:26,"188,24","31,5","5,98",111,"9,4","295,9",1007,2,0

In [86]:
dataset['Valor_Reembolso'] = dataset['Valor_Reembolso'].str.replace(',', '.')
dataset['Distancia_Percorrida'] = dataset['Distancia_Percorrida'].str.replace(',', '.')

In [87]:
dataset

,ID_Transacao,Data_Hora_Transacao,Valor_Reembolso,Quantidade_Combustivel,Preco_Combustivel,ID_Veiculo,Consumo_Medio_Veiculo,Distancia_Percorrida,ID_Condutor,Num_Reembolsos_Recentes,Probabilidade_Fraude
0,1,2024-01-01 04:23:15,108.51,"18,8","5,78",134,"11,5",215.9,1072,2,0
1,2,2024-01-01 02:04:09,275.63,"37,6","7,34",191,"9,6",360.5,1021,4,0
2,3,2024-01-02 00:59:59,135.47,19,"7,13",171,"11,8",224.2,1048,0,0
3,4,2024-01-01 20:44:14,170.27,"22,9","7,45",131,9,205.7,1049,4,0
4,5,2024-01-01 09:03:43,198.54,"30,2","6,57",167,"14,1",426.1,1079,2,0
...,...,...,...,...,...,...,...,...,...,...,...
3995,3996,2024-10-31 22:05:18,140.67,"20,8","6,76",139,"13,6",283,1087,1,0
3996,3997,2024-10-31 23:18:17,294.27,"41,7","7,05",105,"10,8",450.8,1026,1,0
3997,3998,2024-11-01 20:19:08,193.25,"34,6","5,59",175,"9,1",314.6,1064,3,0
3998,3999,2024-11-01 22:03:18,219.88,"33,1","6,65",111,14,462.9,1083,3,0
3999,4000,2024-11-01 12:05:26,188.24,"31,5","5,98",111,"9,4",295.9,1007,2,0

In [88]:
X_train = dataset[['Valor_Reembolso', 'Distancia_Percorrida', 'Num_Reembolsos_Recentes']]

In [89]:
y_train = dataset[['Probabilidade_Fraude']]

In [90]:
y_train.shape

(4000, 1)

In [91]:
X_train.shape

(4000, 3)

In [92]:
dataset[dataset['Probabilidade_Fraude'] != '1']

,ID_Transacao,Data_Hora_Transacao,Valor_Reembolso,Quantidade_Combustivel,Preco_Combustivel,ID_Veiculo,Consumo_Medio_Veiculo,Distancia_Percorrida,ID_Condutor,Num_Reembolsos_Recentes,Probabilidade_Fraude
0,1,2024-01-01 04:23:15,108.51,"18,8","5,78",134,"11,5",215.9,1072,2,0
1,2,2024-01-01 02:04:09,275.63,"37,6","7,34",191,"9,6",360.5,1021,4,0
2,3,2024-01-02 00:59:59,135.47,19,"7,13",171,"11,8",224.2,1048,0,0
3,4,2024-01-01 20:44:14,170.27,"22,9","7,45",131,9,205.7,1049,4,0
4,5,2024-01-01 09:03:43,198.54,"30,2","6,57",167,"14,1",426.1,1079,2,0
...,...,...,...,...,...,...,...,...,...,...,...
3995,3996,2024-10-31 22:05:18,140.67,"20,8","6,76",139,"13,6",283,1087,1,0
3996,3997,2024-10-31 23:18:17,294.27,"41,7","7,05",105,"10,8",450.8,1026,1,0
3997,3998,2024-11-01 20:19:08,193.25,"34,6","5,59",175,"9,1",314.6,1064,3,0
3998,3999,2024-11-01 22:03:18,219.88,"33,1","6,65",111,14,462.9,1083,3,0
3999,4000,2024-11-01 12:05:26,188.24,"31,5","5,98",111,"9,4",295.9,1007,2,0

In [93]:
y_train['Probabilidade_Fraude'] = y_train['Probabilidade_Fraude'].str.replace(',', '.').astype(float)

# Converter todas as colunas de X_train para float
X_train = X_train.astype(float)

/tmp/ipykernel_6344/779182389.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y_train['Probabilidade_Fraude'] = y_train['Probabilidade_Fraude'].str.replace(',', '.').astype(float)

In [94]:
model = tf.keras.models.Sequential([
    tf.keras.layers.Input(shape=[3]),
    tf.keras.layers.Dense(units=64, activation='relu'),
    tf.keras.layers.Dense(units=32, activation='relu'),
    tf.keras.layers.Dense(units=16, activation='relu'),
    tf.keras.layers.Dense(units=1, activation='sigmoid'),
])

model.compile(optimizer=tf.keras.optimizers.Adam(), loss='binary_crossentropy')

In [96]:
y_train[y_train['Probabilidade_Fraude'] != '0']

      Probabilidade_Fraude
0                      0.0
1                      0.0
2                      0.0
3                      0.0
4                      0.0
...                    ...
3995                   0.0
3996                   0.0
3997                   0.0
3998                   0.0
3999                   0.0

[4000 rows x 1 columns]

In [98]:
model.fit(X_train, y_train, epochs=50)

Epoch 1/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0744
Epoch 2/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0966
Epoch 3/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0734
Epoch 4/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.0628
Epoch 5/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.1750
Epoch 6/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0767
Epoch 7/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0600
Epoch 8/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0879
Epoch 9/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0576
Epoch 10/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.0800
Epoch 11/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0590
Epoch 12/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0782
Epoch 13/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0534
Epoch 14/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0688
Epoch 15/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0759
Epoch 16/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0693
Epoch 17/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0758
Epoch 18/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0605
Epoch 19/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0655
Epoch 20/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0506
Epoch 21/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0697
Epoch 22/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0641
Epoch 23/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.0831
Epoch 24/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0641
Epoch 25/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0712
Epoch 26/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.0503
Epoch 27/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0623
Epoch 28/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0562
Epoch 29/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0627
Epoch 30/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.0646
Epoch 31/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0647
Epoch 32/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0721
Epoch 33/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0890
Epoch 34/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0744
Epoch 35/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.0677
Epoch 36/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0612
Epoch 37/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0642
Epoch 38/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0599
Epoch 39/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0542
Epoch 40/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0605
Epoch 41/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0632
Epoch 42/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0602
Epoch 43/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0503
Epoch 44/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0531
Epoch 45/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.0623
Epoch 46/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.0530
Epoch 47/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0559
Epoch 48/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0574
Epoch 49/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.0665
Epoch 50/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.0505